{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/navbar-footer.css' %}" />
    <!--<link rel="text/JavaScript" href="{% static 'navshrink.js' %}" />-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/navshrink.js' %}"></script>
    {% block extendcss %}{% endblock %}
  </head>
  <body>
    {% block navigation %}
    {% include 'navbar.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
  </body>
</html>
