{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"><!--Materialize CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!--Google Material Icon CSS-->
    <link rel="stylesheet" href="{% static 'css/navbar-footer.css' %}" /><!--Navigation bar and footer CSS-->
    <!--<link rel="text/JavaScript" href="{% static 'navshrink.js' %}" />-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><!--jQuery-->
    <script src="{% static 'js/navshrink.js' %}"></script><!--JavaScript for shrinking navigation bar-->
    {% block extendcss %}{% endblock %}
  </head>
  <body>
    {% block navigation %}
    {% include 'navbar.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
  </body>
</html>
