{% extends 'base.html' %}
{% load static %}
{% block title %}MailOrderDirt.com! Top quality dirt, via envelope!{% endblock %}
{% block extendcss %}<link rel="stylesheet" href="{% static 'home.css' %}" />{% endblock %}
{% block content %}
<article class="article backimg1" id="nav1">
  <br />
    <p>Big Tech Ideas Page3</p>
</article>
<div class="article noimg1">
  <ul class="out">
  {% for product in products %}
    <a class="divcontainer" href="{{ product.slug }}">
      <li class="productbox">
        <img src="{{ product.image.url }}" alt="nothing here!" /><br />
        <p class="product">{{ product.name }}</p><br />
        <p class="price">${{ product.price }}</p>
      </li>
    </a>
  {% endfor %}
  </ul>
</div>
  <section id="main">
    <article class="article noimg2" id="nav3">
        <p class="divtitle">Big Tech Ideas Page3</p>
    </article>

    <article class="article backimg2" id="nav4">
        <p class="divtitle">Big Tech Ideas Page3</p>
    </article>

    <article class="article backimg3" id="nav5">
        <p class="divtitle">Big Tech Ideas Page3</p>
    </article>
</section>
{% endblock %}
